<h1> Users </h1>

	<ul>
		<% @users.each do |user| %>
			<li> <%= user.first_name %> (<%= user.age %>) <%= "*" if user.is_teen?%> </li>
		<% end %>
	</ul>


<h2> Users With Long Names </h2>
	<%= Users.all_long_name.to_s %>

<h2> Reviews By Users </h2>

	<ul>
		<% @review.each do |review| %>
			<li> <%= review.user_id%>
				<br>
				<%= review.content%>
			</li>
		<% end %>
	</ul>

